name: tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bats ffmpeg mediainfo

      - name: Run Bats tests
        run: |
          bats tests
